p Thank you for signing up to join Rabbit Rss!
p To complete your registration and confirm your email address, please click the following link
a(href='http://batros.in.ua/api/v1/rss/application/user/confirmuser/?confirmationId=#{confirmationId}') Activate My Account