@import 'core/reset.styl'
@import 'core/mixins.styl'
@import 'grid.styl'

body
  background primary-main
  color second-main
  font-family 'Open Sans', sans-serif
  font-size font-main
  line-height line-height-main

.form-control
  border-radius 0

.btn
  color accent-main
  outline none !important
  transition all  0.1s ease-in
  border-radius 0
  border 0
  overflow hidden
  .success-state
    display none
  &:focus
    color accent-main
    outline none
  &:active
    color inherit
    outline none
  &:hover
    color second-main
  &.btn-accent
    background accent-main
    color second-main
    &:hover
      background second-main
      color accent-main

.btn-icon-line
  &:after
    width: 70px;
    height: 70px;
    background: #fff;
    z-index: 1;
    left: -40px;
    top: 0;
    content: '';
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(-20deg);
    transition all  0.2s ease-in
  &:hover
    &:after
      left -35px


.btn-icon
  position relative
  padding-left 60px
  background accent-main
  color second-main

  &:active
    .container-icon
      opacity .1
      transform scale(2)

  &:hover
    background primary-dark
    color accent-main

  .container-icon
    transition all 0.1s
    position absolute
    left 11px
    top 6px
    color accent-main
    z-index 3

a
  color primary-light
  transition color 0.2s ease-in

  &:hover, &:active, &:focus
    color second-main
    text-decoration none

  &.accent
    color accent-main
    &:hover, &:active, &:focus
      color second-main

.content-wrapper
  margin-left sidebar-width
  margin-right sidebar-width
  padding-top 15px
  transition margin 0.5s ease-in
.sidebar
  overflow overlay
  position fixed
  background primary-dark
  bottom 0
  transform translateX(0)
  transition transform 0.5s ease-in
  width sidebar-width

  &.sidebar-right
    top 0
    right 0
    padding 15px

  &.sidebar-left
    top 0
    left 0
    padding 15px

  .links
    li
      margin 0 0 10px
  .active
    color second-main

.col-centered
  float: none
  margin: 0 auto
.no-padding
  padding 0

.rss-list-group
  .list-group-item
    background none
    border none
    border-radius 0
    padding 0
    margin 0 0 10px
&.rss-links
  a
    display block
.corner
  transition transform 0.2s ease-in
  display inline-block
  transform: rotate(0)
  &.open
    transform: rotate(90deg)
.categories
  .categoryName
    margin 0 0 10px
  .feeds
    padding-left 22px
    display none
  .open
    .corner
      transform: rotate(90deg)
    .feeds
      display block
  .animated
    animation-duration 0.5s
.growl
  position fixed
  right 0
  bottom 0
.panel
  background none
  border-radius 0
  border none
  box-shadow none
  .panel-body
    padding 0
  &.without-icon
    margin-left 22px
@media (max-width: 768px)
  .sidebar-left
    transform translateX(- sidebar-width)
  .sidebar-right
    transform translateX(sidebar-width)
  .content-wrapper
    margin-left 0
    margin-right 0
    padding 0
  .content
    padding 0

.meta
  color primary-light
  font-size font-second

.action-group
  font-size 20px

  button
    display inline-block
    font-size 16px
  a
    display inline-block
.panel-default
  .panel-header
    position relative
    margin-bottom 10px
    .title
      margin-bottom 3px

    @media (max-width: 768px)
      background primary-dark
      padding 10px

      .title
        font-size 16px
.feed
  .action-group
    position absolute
    right 0
    top 0
.switchColor
  &.switchOff
    color second-main
    &:hover
      color accent-main
  &.switchOn
    color accent-main
    &:hover
      color second-main

.post
  position relative
  &.post-card
    cursor pointer

    .img
      background-size cover
      width 240px
      height 130px
      margin-right 20px

      &:hover
        opacity .8

    .content
      overflow hidden

    .title
      margin-bottom 10px
      font-size font-third

  &.post-line
    position relative
    padding 3px 0 3px
    border-bottom 1px solid silver
    transition background 0.1s ease-in

    .title
      padding-left 15px

    .content
      width: 100%
      padding-right: 70px
      white-space: nowrap
      overflow: hidden
      box-sizing: border-box
      text-overflow: ellipsis
      min-height: 30px;
      padding-top: 7px;

    .time
      position absolute
      right 7px
      top 10px

    .action-bar
      transition transform  0.1s ease-in
      transform translateX(-3px)
      opacity 0
      height 0
      overflow hidden

    &.unread
      .title
        font-weight bold
    &:hover
      cursor pointer
      background primary-light-50
      .action-bar
        position: absolute
        right: 0
        top: 0
        display: block
        background: second-main
        height: 100%
        color primary-dark
        padding 8px 3px 10px 10px
        transform translateX(0)
        opacity 1

        .btn
          &:hover
            color primary-dark

.search-field
  position: relative
  color primary-dark
  input
    padding-left 30px
    padding-right 40px
  .search-icon
    position absolute
    top 8px
    left 5px
  .cancel-icon
    position absolute
    top 0
    right 0
    &:hover
      color primary-dark

.effect
  &.hover-effect
    li
      transition background 0.1s ease-in
      &:hover
        background primary-light-50

.result-block
  .icon-list
    width 30px
  .content
    overflow hidden
  .title-result
    margin-bottom 10px

.float
  opacity 0
  transition all 0.2s ease-in
  position: fixed
  top 0
  right 0
  bottom 0
  background primary-main
  width float-width
  overflow overlay
  margin 0
  padding 0
  z-index 20
  transform translateX(100%)

  &.open
    opacity 1
    transform translateX(0)

  .navigation
    position fixed
    width float-width
    top: 50%

    .right, .left
      height 150px
      margin-top -75px
      position absolute
      top 0
    .right
      right 20px
    .left
      left 20px

  .panel-header
    padding-left 100px

  .panel-body
    padding 0 100px

  .title
    margin-bottom 3px

  &.float-right
    right 0

  @media (max-width: 768px)
    width 100%

    .navigation
      display none
    .close-btn
      position absolute
      left 0
      top 5px
      z-index 10

    .panel-header
      padding-left 60px

    .panel-body
      padding 0 10px

.overlay
  position fixed
  top 0
  left 0
  right 0
  background rgba(0, 0, 0, 0.51)
  z-index 10
  opacity 0
  transition 0.3s all ease-in

  &.show
    opacity 1
    bottom 0