<div class="panel panel-default">
    <div class="panel-header">
        <h1 class="title">
            <button ng-click="followFeed()" ng-if="user.token && !feed.isFollowed" class="btn btn-icon btn-icon-line">
                <span class="icon-plus container-icon"></span>
                <span class="text">add</span>
            </button>
            {{feed.name}}
        </h1>
        <div ng-if="feed.inDatabase" class="meta">
            <span ng-if="user.token">{{feed.meta.unread}} unread article</span>
            <span ng-if="user.token">-</span>
            <span>{{feed.meta.readers}} readers</span>
        </div>
        <!--<div class="action-group">
            <button class="btn btn-link">
                <span class="icon-ok"></span>
            </button>
            <button class="btn btn-link">
                <span class="icon-bookmark-empty"></span>
            </button>
            <button class="btn btn-link">
                <span class="icon-arrows-cw"></span>
            </button>
        </div>-->
    </div>
    <div class="panel-body">
        <rss-posts-panel rss-configuration="postsPanelConfiguration"></rss-posts-panel>
        <div>
            <!--<div class="post post-card">
                <div class="img pull-left" style="background-image: url('http://c.tadst.com/gfx/600x400/world-post-day.jpg')">
                </div>
                <div class="content">
                    <div class="title">This is title post</div>
                    <div class="description">
                        In 2005, my husband and business partner Drew McLellan had an idea for a website. He emailed friends and colleagues.
                    </div>
                    <div class="meta">
                        <span>21 minutes</span>
                    </div>
                    <div class="action-group">
                        <button class="btn btn-link switchColor switchOff" title="Read later">
                            <span class="icon-bookmark"></span>
                        </button>
                        <button class="btn btn-link" title="Mark as read">
                            <span class="icon-folder-open"></span>
                        </button>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</div>