rss-action-panel
  display block
  position absolute
  width 300px
  background: primary-dark
  padding 10px
  color primary-light
  z-index 10
  left 0
  top 0

  .rss-action-panel-text
    margin-bottom 15px

  @media (max-width: 768px)
    position fixed
    top 10%
    left 50%
    margin-left -150px