rss-category-organize
  disaply block
  margin 0 0 20px 0

  .head
    margin-bottom 10px

  .feeds-container
    padding 10px
    border 1px solid primary-light-50

  .feed
    cursor pointer
    padding 6px 9px

    &:hover
      background primary-dark
      color primary-light