.common {
  color: #f00;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: #37474f;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 16px;
}
.btn {
  color: #ff9800;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.btn:hover {
  color: #fff;
}
a {
  color: #ff9800;
  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #fff;
}
.content-wrapper {
  margin-left: 240px;
  margin-right: 240px;
  padding-top: 15px;
  -webkit-transition: margin 0.5s ease-in;
  -moz-transition: margin 0.5s ease-in;
  -o-transition: margin 0.5s ease-in;
  transition: margin 0.5s ease-in;
}
.sidebar {
  overflow: hidden;
  position: fixed;
  background: #263238;
  bottom: 0;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: transform 0.5s ease-in;
  -moz-transition: transform 0.5s ease-in;
  -o-transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  width: 240px;
}
.sidebar.sidebar-right {
  top: 0;
  right: 0;
  padding: 15px;
}
.sidebar.sidebar-left {
  top: 0;
  left: 0;
  padding: 15px;
}
.sidebar a {
  color: #cfd8dc;
}
.sidebar a:hover {
  text-decoration: none;
  color: #fff;
}
.sidebar .links li {
  margin: 0 0 10px;
}
.sidebar .links .active {
  color: #fff;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.no-padding {
  padding: 0;
}
.rss-list-group .list-group-item {
  background: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 0;
  margin: 0 0 10px;
}
.rss-links a {
  display: block;
}
.corner {
  -webkit-transition: transform 0.2s ease-in;
  -moz-transition: transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  display: inline-block;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.corner.open {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.categories .categoryName {
  margin: 0 0 10px;
}
.categories .feeds {
  padding-left: 22px;
  display: none;
}
.categories .open .corner {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.categories .open .feeds {
  display: block;
}
.categories .animated {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.panel {
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.panel .panel-body {
  padding: 0;
}
.panel.without-icon {
  margin-left: 22px;
}
@media (max-width: 768px) {
  .sidebar-left {
    -webkit-transform: translateX(-240px);
    -moz-transform: translateX(-240px);
    -o-transform: translateX(-240px);
    transform: translateX(-240px);
  }
  .sidebar-right {
    -webkit-transform: translateX(240px);
    -moz-transform: translateX(240px);
    -o-transform: translateX(240px);
    transform: translateX(240px);
  }
  .content-wrapper {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  .content {
    padding: 0;
  }
}
.feed .feed-meta {
  color: #cfd8dc;
}
.feed .header {
  position: relative;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .feed .header {
    background: #263238;
    padding: 10px;
  }
  .feed .header .feedTitle {
    font-size: 16px;
  }
}
.feed .header .feedTitle {
  margin-bottom: 3px;
}
.feed .header .feed-action {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
}
.feed .header .feed-action button {
  display: inline-block;
  font-size: 16px;
}
.feed .header .feed-action a {
  display: inline-block;
}
.post.post-line {
  position: relative;
  padding: 10px 0 10px;
  border-bottom: 1px solid #c0c0c0;
  -webkit-transition: background 0.1s ease-in;
  -moz-transition: background 0.1s ease-in;
  -o-transition: background 0.1s ease-in;
  transition: background 0.1s ease-in;
}
.post.post-line .content {
  width: 100%;
  padding-right: 70px;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  text-overflow: ellipsis;
}
.post.post-line .time {
  position: absolute;
  right: 7px;
  top: 10px;
}
.post.post-line .action-bar {
  -webkit-transition: transform 0.1s ease-in;
  -moz-transition: transform 0.1s ease-in;
  -o-transition: transform 0.1s ease-in;
  transition: transform 0.1s ease-in;
  -webkit-transform: translateX(-3px);
  -moz-transform: translateX(-3px);
  -o-transform: translateX(-3px);
  transform: translateX(-3px);
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.post.post-line .readLater:hover {
  color: #ff9800;
}
.post.post-line.post-saved .readLater {
  color: #ff9800;
}
.post.post-line.unread .title {
  font-weight: bold;
}
.post.post-line:hover {
  cursor: pointer;
  background: rgba(207,216,220,0.5);
}
.post.post-line:hover .action-bar {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background: #fff;
  height: 37px;
  color: #263238;
  padding: 8px 3px 10px 10px;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
.post.post-line:hover .action-bar .btn:hover {
  color: #263238;
}
