<div ng-if="user.token">
    <div class="panel panel-default">
        <div class="panel-body">
            <nav class="links">
                <ul>
                    <li>
                        <a href="#" ui-sref="main.app.index.home" class="active">
                            <span class="icon-home"></span>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="icon-bookmark"></span>
                            Saved
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="categories">
                <rss-categories-bar rss-configuration=""></rss-categories-bar>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="tags">
                <ul class="list-group rss-list-group rss-links">
                    <li class="list-group-item">
                        <a href="#">
                            <span class="icon-tag"></span>
                            Some tag
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                            <span class="icon-tag"></span>
                            Some tag
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel panel-default without-icon">
        <div class="panel-body">
            <ul class="list-group rss-list-group rss-links open">
                <li class="list-group-item">
                    <a href="#">
                        Recently read
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Organize
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Themes
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Preferences
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#">
                        Organize
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div ng-if="!user.token">
    <rss-sign-bar  rss-configuration=""></rss-sign-bar>
</div>
