<div>
    <div class="head">
        <div class="pull-right" >
            <button class="btn btn-link btn-xs" tooltip-placement="right" tooltip="Delete category?" ng-click="toggleDeletePanel($event)">
                <span class="icon-cancel"></span>
            </button>
            <rss-action-panel ng-if="isShowDeletePanel" rss-configuration="actionDeleteConfig"></rss-action-panel>
        </div>
        <button class="btn btn-link pull-right btn-xs" tooltip-placement="left" tooltip="Edit category?">
            <span class="icon-pencil"></span>
        </button>
        <h4>{{category.name}}</h4>
    </div>

    <ul class="feeds-container">
        <li class="feed" ng-repeat="feed in category.feeds">
            <button class="btn btn-link pull-right btn-xs">
                <span class="icon-cancel"></span>
            </button>
            <button class="btn btn-link pull-right btn-xs">
                <span class="icon-pencil"></span>
            </button>
            <span>{{feed.name}}</span>
        </li>
    </ul>

</div>