<div class="form-group search-field">
    <input type="text" class="form-control" ng-model="searchRequest" placeholder="Search">
    <span class="icon-search search-icon"></span>

    <button ng-click="clearSearchRequest()" ng-if="searchRequest.length" title="Clear" class="cancel-icon btn btn-link">
        <span class="icon-cancel"></span>
    </button>
</div>
<div class="results">

    <div ng-if="response.direct">
        <div class="result-block">
            <div class="title-result">Direct feed</div>
            <div class="icon-list pull-left">
                <span class="icon-folder"></span>
            </div>
            <div class="content">
                <a class="accent" href="#" ui-sref="main.app.index.newfeed({feed: response.direct})">{{response.direct.name}}</a>
                <div class="meta">
                    <div>452 people</div>
                    <div>3 post/week</div>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="response.feeds">
        <div class="result-block">
            <div class="title-result">Feeds</div>
            <ul class="list-group rss-list-group">
                <li ng-repeat="feed in response.feeds" class="list-group-item">
                    <div class="icon-list pull-left">
                        <span class="icon-folder"></span>
                    </div>
                    <div class="content">
                        <a class="accent" href="#" ui-sref="main.app.index.feed({id: feed._id})">{{feed.name}}</a>
                        <div class="meta">
                            <div>452 people</div>
                            <div>3 post/week</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>