<ul class="list-group rss-list-group rss-links ">
    <li ng-class="{open: isOpen, feedActive: isFeedActive(category)}" class="list-group-item" ng-repeat="category in categories" rss-categories-item>

        <a class="categoryName" ui-sref="main.app.index.feed" ng-click="categoryClick($event)">
            <span class="corner">
                <span class="icon-angle-right"></span>
            </span>
            {{category.name}}
        </a>

        <ul class="list-group rss-list-group rss-links feeds">
            <li class="list-group-item animated fadeInDown " ng-repeat="feed in category.feeds" >
                <a href="#" ng-class="{active: isActive(feed.feedId)}" ui-sref="main.app.index.feed({id: feed.feedId})" >
                    {{feed.name}}
                </a>
            </li>
        </ul>

    </li>
</ul>
<div class="rss-busy" cg-busy="rssBusyIndicator">
</div>