@import '../common.styl'

primary-main = #37474F
primary-light = #CFD8DC
primary-light-50 = rgba(207, 216, 220, 0.5)
primary-dark = #263238
second-main = white

accent-main = #FF9800

font-main = 14px
font-second = 12px
font-third = 16px
line-height-main = 16px

//elements
sidebar-width = 240px
float-width = 80%